
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Stationary Delivery</h4></div>
                </div>
            </div>
        </div>
        <div class="container-fluid site-width">
            <!-- Edit Invoice -->
            <div class="modal fade" id="editinvoice">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <i class="icon-pencil"></i> Edit Invoice
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="icon-close"></i>
                            </button>
                        </div>
                        <form class="edit-invoice-form">
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="due-date" class="col-form-label">Due Date</label>
                                    <input type="text" id="due-date" class="form-control" required="">
                                </div>

                                <div class="form-group">
                                    <label for="status" class="col-form-label">Status</label>
                                    <select class="form-control" id="status">
                                        <option value="generated-invoice">Generated</option>
                                        <option value="paid-invoice">Paid</option>
                                        <option value="pending-invoice">Pending</option>
                                        <option value="canceled-invoice">Canceled</option>
                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="edit-date">
                                <button type="submit" class="btn btn-primary add-todo">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- START: Card Data-->
            <div class="row row-eq-height">
                <div class="col-12 col-lg-2 mt-3 todo-menu-bar flip-menu pr-lg-0">
                    <a href="#" class="d-inline-block d-lg-none mt-1 flip-menu-close"><i class="icon-close"></i></a>
                    <div class="card border h-100 invoice-menu-section">
                        <ul class="nav flex-column invoice-menu">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    Department Requests
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-invoicetype="pending-invoice">
                                    Urgent Requests
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mt-3 pl-lg-0">
                    <div class="card border h-100 invoice-list-section">
                        <div class="view-invoice">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="card border-0">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <a href="#" class="bg-primary float-left mr-3  py-1 px-2 rounded text-white back-to-invoice">
                                                Back
                                            </a><h4 class="card-title">Invoice# <span class="inv-no"></span></h4>
                                        </div>
                                        <div class="card-body table-responsive">
                                            <table class="table table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <address>
                                                                <strong>Your Store</strong><br>
                                                                2940 Rainbow Road Alhambra, CA 91801 California
                                                            </address>
                                                            <b>Telephone:</b> 123456789<br>
                                                            <b>E-Mail:</b> demo@demo.com<br>
                                                            <b>Web Site:</b> <a href="#">http://abc.com</a>
                                                        </td>
                                                        <td>
                                                            <b>Date Added:</b> 26/09/2016<br>
                                                            <b>Order ID:</b> 3135<br>
                                                            <b>Payment Method:</b> Cash On Delivery<br>
                                                            <b>Shipping Method:</b> Flat Shipping Rate<br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="card border-0">
                                        <div class="card-body table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td style="width: 50%;"><b>To</b></td>
                                                        <td style="width: 50%;"><b>Ship To (if different address)</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <address>
                                                                2940  Rainbow Road<br>Alhambra, CA<br>91801 California
                                                            </address>
                                                        </td>
                                                        <td>
                                                            <address>
                                                                1424  Brown Avenue<br>Knoxville, TN<br>91801 Tennessee
                                                            </address>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="card border-0">
                                        <div class="card-body table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td><b>Product</b></td>
                                                        <td><b>Model</b></td>
                                                        <td class="text-right"><b>Quantity</b></td>
                                                        <td class="text-right"><b>Unit Price</b></td>
                                                        <td class="text-right"><b>Total</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            HP LP3065 <br>
                                                            &nbsp;<small> - Delivery Date: 2011-04-22</small>
                                                        </td>
                                                        <td>Product 21</td>
                                                        <td class="text-right">1</td>
                                                        <td class="text-right">$122.00</td>
                                                        <td class="text-right">$122.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><b>Sub-Total</b></td>
                                                        <td class="text-right">$100.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><b>Flat Shipping Rate</b></td>
                                                        <td class="text-right">$5.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><b>Eco Tax (-2.00)</b></td>
                                                        <td class="text-right">$4.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><b>VAT (20%)</b></td>
                                                        <td class="text-right">$21.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4"><b>Total</b></td>
                                                        <td class="text-right">$130.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12">
                                    <div class="card redial-border-light redial-shadow">
                                        <div class="card-body table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td><b>Comment</b></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>This is comment section</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body p-0">
                            <div class="invoices list">

                                <div class="invoice">
                                    <div class="invoice-content" data-status="generated-invoice">
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Date</p>
                                            <p class="invoice-no">20 June 2020</p>
                                        </div>
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Request ID</p>
                                            <p class="cliname">0002</p>
                                        </div>
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Department</p>
                                            <p class="invocie-date">ENG</p>
                                        </div>
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Order Type</p>
                                            <p class="invoice-due-date">NEW</p>
                                        </div>
                                        <div class="invoice-status-info">
                                            <p class="mb-0 small">Status </p>
                                            <p class="invocie-date">Received</p>
                                        </div>
                                        <div class="line-h-1 h5">
                                            <a class="text-success edit-invoice" href="#" data-toggle="modal" data-target="#editinvoice">View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="invoice">
                                    <div class="invoice-content" data-status="generated-invoice">
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Date</p>
                                            <p class="invoice-no">20 June 2020</p>
                                        </div>
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Request ID</p>
                                            <p class="cliname">0002</p>
                                        </div>
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Department</p>
                                            <p class="invocie-date">ENG</p>
                                        </div>
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Order Type</p>
                                            <p class="invoice-due-date">Discrepancy</p>
                                        </div>
                                        <div class="invoice-status-info">
                                            <p class="mb-0 small">Status </p>
                                            <p class="invocie-date">Completed</p>
                                        </div>
                                        <div class="line-h-1 h5">
                                            <a class="text-success edit-invoice" href="#" data-toggle="modal" data-target="#editinvoice">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
</main>
<!-- END: Content-->
