
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
    var Items = (List<Item>)ViewData["items"];
    var Categories = (List<ItemCategory>)ViewData["itemCatList"];
}

@model Team5_LUSS.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
    var status = ViewData["LoginStatus"];
}

<h1>Login</h1>
<body onload="Captcha();">


    <div id="login-div">

        <form id="loginForm" method="post" asp action="add">

            @*//table*@
            <table style="width:100%">
                <tr>
                    <td style="width: 13%;"><p style="font-weight:bold">UserID:
                    <td> <input type="text" name="UserID" required value="" /></td>
                </tr>
                <tr>
                    <td><p style="font-weight:bold">Password:</p></td>
                    <td><input type="password" name="Password" required value="" /></td>
                </tr>
            </table>
            <input type="submit" value="Submit">

        </form>

</body>