
@{
    ViewData["Title"] = "StationeryRequest";
    var request_list = (List<Request>)ViewData["requests"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- START: Page CSS-->
<!--<link href="~/js/System/StationeryRequests/dx.common.css" rel="stylesheet" />
<link href="~/js/System/StationeryRequests/dx.light.css" rel="stylesheet" />
<link href="~/js/System/StationeryRequests/styles.css" rel="stylesheet" />

<div class="row ">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0">Jsgrid</h4></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">Table</li>
                <li class="breadcrumb-item active"><a href="#">Jsgrid</a></li>
            </ol>
        </div>
    </div>
</div>-->
<!-- END: Breadcrumbs-->
<!-- START: Card Data-->
<!--<div class="row">
    <div class="col-12 mt-3">
        <input type="hidden" id="reqlist"  value="@request_list"/>
        <div class="demo-container">
            <div id="gridContainer"></div>
        </div>
        <br />
    </div>
</div>
<script src="~/js/System/StationeryRequests/jquery.min.js"></script>
<script src="~/js/System/StationeryRequests/dx.all.js"></script>
<script src="~/js/System/StationeryRequests/data.js"></script>

<script src="~/vendors/jquery/jquery-3.3.1.min.js"></script>-->
<script src="~/vendors/jquery/jquery-3.3.1.min.js"></script>
<script src="~/js/System/StationeryRequests/stationeryRequests.js"></script>
<div>
    rest of the Razor page goes here
</div>
<script>
    $(document).ready(function () {

            //call the JS function that will make the AJAX request and fetch the data
           // loadDocumentManagerForDocument('1'); //see below for definition!
          $.ajax({
            type: "Get",
            url: "@Url.Action("GetStationeryRequests")",
            data: { id: 1 },
            dataType: "json",
            success: function (msg) {
                console.log(msg);
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
        }
    );
</script>